@media screen and (max-width:600px){
  width:50px;
}
#navbar{
  margin-top: 2%;
  position: fixed;
  overflow: auto;
  
}
button{
  
  width: 70%;
  display:block;
  padding: 5% 10%;
  border-radius: 180%;
  
}
button:hover {
  background-color: #555;
  color: white;
}
.main-section{
  padding-left: 25%;
}