@media screen and (max-width:600px){
  width:50px;
}
#navbar{
  margin-top: 2%;
  position: fixed;
  overflow: auto;
}
button{
  
  width: 64%;
  display:block;
  padding: 5% 10%;
  border-radius: 18%;
  border: solid 2em lightblue;
  background-color: skyblue;
  
  
  
}
button:hover {
  background-color: lightblue;
  border: solid 2em white;
}
a{
  text-decoration: none;
  color: black;
  text-align: center;
  
}
.main-section{
  padding-left: 25%;
}
header{
  background-color: skyblue;
}